.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: h;
    padding: 5px;
    background-color: lightblue;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

